.container {
  margin: 13px 20px 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
}
.pricechart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 81vh;
  margin-bottom: 5rem;
  width: 50vw;
  border: 2px solid #263238;
}

.pricechart-dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 81vh;
  margin-bottom: 5rem;
  width: 50vw;
  border: 2px solid #ffffff;
}

.chart-container {
  width: 80%;
  height: 100%;
}

@media (max-width: 1000px) {
  .dashboard {
    width: 100%;
    height: 100vh;
  }
  .dashboard-dark-mode {
    width: 100%;
    height: 100vh;
  }
}